body {
	max-width: 1400px;
	height: auto;
	margin: auto;
	box-sizing: border-box;




}
.menu-banner img{
	width: 100%;
	height: 300px;
	position: relative;
	margin: auto;


}
.menu {
	position: absolute;
	top: 5%;
	left: 44%;
	background-color:  rgba(255, 0, 0, 0.62);

}
.menu form {
	text-indent: 30%;
	padding: 1%;
}
.menu a {
	font-size: 20px;
	margin: 10px;
	text-decoration: none;
	color: yellow;
	transition: color .2s ease;
	text-transform: uppercase;
}
.menu a:hover {
   color: white;
}
.gioithieu-banner2 img {
	width: 100%;
	height: 1396px;
	margin: -1px;
	position: relative;
}
.thongtindatban {
	position: absolute;
	top: 53%;
	left: 8%;
}
.thongtindatban h1 {
	color: yellow;
	font-style: italic;
	font-size: 40px;
}
.thongtin1 {
	color: white;
	font-size: 20px;

}
.nhap1 {
	position: absolute;
	top: 83%;
	left: 20%;
}
.nhap1 p {
	color: yellow;
	font-size: 20px;
	font-family: Georgia;
}
.diachi {
	position: absolute;
	bottom: -131%;
	left: 3%;

}
.diachi h1 {
	font-size: 30px;
	color: yellow;

}
.diachi p {
	color: white;
}
.hopthu {
	position: absolute;
	bottom: -96%;
	left: 62%;
	color: yellow;
	font-size: 20px;
}
.bando {
	position: absolute;
	bottom: -151%;
	left: 62%;
	color: yellow;
	font-size: 20px;
}
.backtotop {
	bottom: 15px;
    position: fixed;
    right: 15px;
    z-index: 100;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 18px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    font-family: Arial;
}
.cauket {
	position: absolute;
	bottom: -152%;
	left: 3%;
	font-size: 20px;
	color: rgba(204, 255, 0, 0.83);

}
.nutdatban input {
	color: red;
    padding: 9px 30px 4px 30px;
    border-radius: 0px;
    background: yellow;
    border: none;
    border-bottom: 3px solid #c16f1b;
    text-transform: uppercase;
    font-size: 17px;
    margin-left: 145px;
    font-family: georgia;
}
.nutdatban {
	position: absolute;
	top: 170%;
	left: 26%;
}