body {
	max-width: 1400px;
	height: auto;
	margin: auto;
	box-sizing: border-box;




}
.menu-banner img{
	width: 100%;
	height: 300px;
	position: relative;
	margin: auto;


}
.menu {
	position: absolute;
	top: 5%;
	left: 44%;
	background-color:  rgba(255, 0, 0, 0.62);

}
.menu a {
	font-size: 20px;
	margin: 10px;
	text-decoration: none;
	color: yellow;
	transition: color .2s ease;
	text-transform: uppercase;
}
.menu form {
	text-indent: 30%;
	padding: 1%;
}
.menu a:hover {
   color: white;