body {
	max-width: 1400px;
	height: auto;
	margin: auto;
	box-sizing: border-box;




}
.menu-banner img{
	width: 100%;
	height: 300px;
	position: relative;
	margin: auto;


}
.menu {
	position: absolute;
	top: 5%;
	left: 44%;
	background-color:  rgba(255, 0, 0, 0.62);

}
.menu form {
	text-indent: 30%;
	padding: 1%;
}
.menu a {
	font-size: 20px;
	margin: 10px;
	text-decoration: none;
	color: yellow;
	transition: color .2s ease;
	text-transform: uppercase;
}
.menu a:hover {
   color: white;
}
.gioithieu-banner2 img {
	width: 100%;
	height: 1752px;
	margin: -1px;
	position: relative;

}
.gioithieu-banner2 {
	position: relative;
}
.thucdon {
	position: absolute;
    top: -1%;
    left: 30%;
}
.thucdon h1 {
	font-size: 35px;
	font-style: italic;
	color: yellow;
}
.monan-1 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	position: absolute;
	top: 5%;


}
.monan-1 img {
	width: 100%;
	height: 200px;


}
.monan-1 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;

}
.monan-2 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 5%;
	left: 32%;
	position: absolute;


}
.monan-2 img {
	width: 100%;
	height: 200px;

}
.monan-2 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-3 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 5%;
	left: 62%;
	position: absolute;


}
.monan-3 img {
	width: 100%;
	height: 200px;

}
.monan-3 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-4 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 19%;
	
	position: absolute;


}
.monan-4 img {
	width: 100%;
	height: 200px;

}
.monan-4 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-5 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 19%;
	left: 32%;
	position: absolute;


}
.monan-5 img {
	width: 100%;
	height: 200px;

}
.monan-5 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-6 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 19%;
	left: 62%;
	position: absolute;


}
.monan-6 img {
	width: 100%;
	height: 200px;

}
.monan-6 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-7 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 33%;
	position: absolute;


}
.monan-7 img {
	width: 100%;
	height: 200px;

}
.monan-7 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-8 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 33%;
	left: 32%;
	position: absolute;


}
.monan-8 img {
	width: 100%;
	height: 200px;

}
.monan-8 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-9 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 33%;
	left: 62%;
	position: absolute;


}
.monan-9 img {
	width: 100%;
	height: 200px;

}
.monan-9 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-10 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 47%;
	position: absolute;


}
.monan-10 img {
	width: 100%;
	height: 200px;

}
.monan-10 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-11 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 47%;
	left: 32%;
	position: absolute;


}
.monan-11 img {
	width: 100%;
	height: 200px;

}
.monan-11 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.monan-12 {
	width: 25%;
	height: auto;
	padding: 4%;
	float: left;
	top: 47%;
	left: 62%;
	position: absolute;


}
.monan-12 img {
	width: 100%;
	height: 200px;

}
.monan-12 p {
	font-family: Verdana, sans-serif;
	font-size: 1.2vmax;
	padding: 0.5%;
	color: white;
	text-indent: 15%;
}
.diachi {
	position: absolute;
	top: 69%;
	left: 4%;

}
.diachi h1 {
	font-size: 30px;
	color: yellow;

}
.diachi p {
	color: white;
}
.hopthu {
	position: absolute;
	top: 65%;

	left: 60%;
	color: yellow;
	font-size: 20px;
	}
	.bando {
	position: absolute;
	top: 72%;
	left: 60%;
	color: yellow;
	font-size: 20px;
}
.cauket {
	position: absolute;
	top: 84%;
	left: 3%;
	font-size: 20px;
	color: rgba(204, 255, 0, 0.83);
	}
	.backtotop {
	bottom: 15px;
    position: fixed;
    right: 15px;
    z-index: 100;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 18px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    font-family: Arial;
}