body {
	max-width: 1400px;
	height: auto;
	margin: auto;
	box-sizing: border-box;
	font-family: FontAwesome;




}
.menu-banner img{
	width: 100%;
	height: 300px;
	position: relative;
	margin: auto;


}
.menu > li {
	float: left;
	margin-right: 15px;

}
.menu > li > ul {
    top: 6%;
    display: none;
    position: absolute;
    background-color:  rgba(255, 0, 0, 0.62);
    }
    .menu > li:hover > ul {
    display: block;
 }
.menu {
	position: absolute;
	top: 5%;
	left: 44%;
	background-color:  rgba(255, 0, 0, 0.62);
	list-style-type: none;

}
.menu a {
	font-size: 20px;
	margin: 10px;
	text-decoration: none;
	color: yellow;
	transition: color .2s ease;
	text-transform: uppercase;
}
.menu form {
	text-indent: 30%;
	padding: 1%;
}
.menu a:hover {
   color: white;
}
.gioithieu-banner2 img {
	width: 100%;
	height: 780px;
	margin: -1px;
	position: relative;
}
.gioithieu-banner2 {
 position: relative;
}
.gioithieu h1 {
	position: relative;
	color: yellow;
	font-size: 50px;
	font-style: italic;
	text-align: center;
	color: yellow;
	padding: 15px;
}
.gioithieu {
	position: absolute;
	top: -1%;
	left: 32%;
}
.anhquan img {
	width: 22%;
	height: 250px;
	position: relative;
	padding: 1%;
	margin: auto;
}
.anhquan {
	position: absolute;
	top: 30%;
	color: white;
}
.anhquan h2 {
	font-size: 25px;

}
.anhquan a {
	text-indent: 30%;
	color: yellow;
}








.menu-gioithieu {
	position: relative;
}
.menu-gioithieu img {
	width: 100%;
	height: auto;
	margin: -2px;
	position: relative;
}

.thucdon h1 {
	position: relative;
	color: yellow;
	font-size: 50px;
	font-style: italic;
	text-align: center;
	color: yellow;
	padding: 15px;

}
.thucdon {
	position: absolute;
	bottom: 85%;
	left: 17%;

}
.vitquay {
	position: absolute;
	bottom: 60%;
	left: 12%;
}
.vitquay img {
	width: 40%;
	height: 300px;
	position: relative;
	padding: 1%;
	margin: auto;
}
.loivit {
	position: absolute;
	bottom: 49%;
	left: 13%;
}
.loivit p {
	font-size: 20px;
	color: white;

}
.loivit a {
	font-size: 20px;
	color: yellow;
}
.diachi {
	position: absolute;
	bottom: 22%;
	left: 3%;

}
.diachi h1 {
	font-size: 30px;
	color: yellow;

}
.diachi p {
	color: white;
}
.hopthu {
	position: absolute;
	bottom: 38%;
	left: 62%;
	color: yellow;
	font-size: 20px;
}
.bando {
	position: absolute;
	bottom: 7%;
	left: 62%;
	color: yellow;
	font-size: 20px;
}
.backtotop {
	bottom: 15px;
    position: fixed;
    right: 15px;
    z-index: 100;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 18px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    font-family: Arial;
}
.cauket {
	position: absolute;
	bottom: 8%;
	left: 3%;
	font-size: 20px;
	color: rgba(204, 255, 0, 0.83);

}
